  <h1><%= @song.name %></h1>
  <h3>By: <%= link_to @song.artist.name, artist_path(@song.artist) %></h3> 
  <h3>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></h3>
  <%= link_to "Edit", edit_song_path%><br>
  <%= link_to "Back", songs_path %>
